{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    {% if lines is not empty %}
        <table>
            <thead>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Actions</th>
            </thead>
            <tbody>
                {% for line in lines %}
                    <tr>
                        <td>
                            <a href="{{ path('products_get', {'id': line.product.id }) }}">
                                <img src="/{{ line.product.photo }}" />
                            </a>
                        </td>
                        <td>
                            {{ line.product.price | format_currency('EUR', locale = 'fr') }}
                        </td>
                        <td>
                            {{ line.quantity }}
                        </td>
                        <td>
                            <b>{{ line.total | format_currency('EUR', locale = 'fr') }}</b>
                        </td>
                        <td>
                            <a href="{{ path('products_add_to_cart', {'id': line.product.id }) }}">Ajouter</a>
                            <a href="{{ path('products_delete_from_cart', {'id': line.product.id }) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            Montant total : <b>{{ total | format_currency('EUR', locale = 'fr') }}</b>
        </div>

        <a href="{{ path('cart_clear') }}">Vider</a>
        {% if is_granted('ROLE_USER') %}
            <a href="{{ path('orders_add') }}">Commander</a>
        {% else %}
            <b>Connectez-vous pour commander</b>
        {% endif %}
    {% else %}
        Le panier est vide
    {% endif %}
{% endblock %}
