{% extends 'base.html.twig' %}

{% block title %}{{ product.name }} #{{ product.id }}{% endblock %}

{% block body %}
    <p>Dans la catégorie <a href="{{ path('categories_get_products', { id: product.category.id}) }}">{{ product.category.name }}</a></p>

    <pre>{{ product.description }}</pre>

    <div>Prix : {{ product.price | format_currency('EUR', locale = 'fr') }}</div>

    {% if product.photo is not null %}
        <img src="/{{ product.photo }}" alt="Image pour {{ product.name }}" />
    {% else %}
        <img src="/assets/no_image.jpg" alt="Aucune image pour {{ product.name }}" />
    {% endif %}

    <br />

    <a href="{{ path('products_add_to_cart', {'id': product.id }) }}">Ajouter au panier</a>

    <br />

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_products_edit', { id: product.id }) }}">Modifier</a>
        <a href="{{ path('admin_products_delete', { id: product.id }) }}">Supprimer</a>
    {% endif %}
{% endblock %}
